@import "./scss/pages/auth.scss";
@import "./scss/wrapper.scss";
@import "./scss/pages/teams.scss";
@import "./scss/components/sidebar.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
