@import "./scss/pages/auth.scss";
@import "./scss/wrapper.scss";
@import "./scss/pages/teams.scss";
@import "./scss/components/sidebar.scss";
@import "./scss/pages/players.scss";
@import "./scss/pages/singlePlayer.scss";
@import "./scss/pages/singleTeam.scss";
@import "./scss/pages/favorites.scss";
@import "./scss/components/comments.scss";
@import "./scss/pages/compare.scss";
@import "./scss/components/modal.scss";
@import "./scss/pages/profile.scss";
@import "./scss/pages/notifications.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
