@import "./scss/pages/auth.scss";
@import "./scss/wrapper.scss";
@import "./scss/pages/teams.scss";
@import "./scss/components/sidebar.scss";
@import "./scss/pages/players.scss";
@import "./scss/pages/singlePlayer.scss";
@import "./scss/pages/singleTeam.scss";
@import "./scss/pages/favorites.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
